header {
	background-color: rgba(123, 204, 42, 0.768);
	text-align: center;
}

body {
	
	font-size: 20px;
	color: #red;
}

body div {
	font-size: 10px;
}

.main-container {
}
.main-content-section {
}
.about-me-section {
}
.about-me-profession {
}
.about-me-name {
}
.about-me-description {
}
.my-projects-section {
}
.main-content-title {
}
.my-projects-list {
}
.my-projects-item {
}
.my-projects-text {
}
.my-projects-link {
}
.my-projects-braket {
}
.my-work-experience-section {
	color:rgb(63, 93, 32)
}
.my-work-experience-company-block {
}
.my-work-experience-position {
}
.my-work-experience-company {
}
.my-work-experience-period {
}
.my-work-experience-divider {
}
.my-work-experience-duties {
}
.my-work-experience-duty {
}
.my-work-education-section {
}
.my-work-education-management {
}
.sidebar-section {
}
.foto {
}
.contacts-section {
}
.sidebar-section-title {
}
.contacts-section-type {
}
.contacts-section-link {
}
.tech-skills-section {
}
.tech-skills-list {
}
.tech-skills-item {
}
.tech-skills-item-text {
}
.soft-skills-section {
}
.soft-skills-list {
}
.soft-skills-item {
}
.soft-skills-item-text {
}
red[
]
